.wrapper {
  display: flex;
  justify-content: center;
}

.addButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  top: 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 50px;
  color: var(--white_color);
  background-color: var(--green_color);
  cursor: pointer;
  transition-duration: 0.5s;
  &:hover {
    scale: 1.2;
  }
}
